<div class="container-fluid bg">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="row">
  <div class="col-md-12 bg1"><img src="./assets/exam.jpeg" width="100%" ></div>
</div>
<div class="row">
    <div class="col-md-3">
      <a routerLink="../classX"><h2>class10</h2></a><br>
      <a routerLink="../classXII"><h2>class12</h2></a><br>
      <!-- <a routerLink="../classXI"><h2>class11</h2></a><br> -->
      
      <a routerLink="../graduation"><h2>graduation</h2></a>
    </div>
    <div class="col-md-9 clxii">
	<h2>Career Options After 10th</h2>
      <p>The 10th standard or the matriculation exam is the first board exam and academic milestone for a student. Once they clear this, they can choose subjects in their 10+2 based on their career aspirations and interests. Apart from doing 10+2, a student can also pursue diplomas and vocational courses after 10th. In this article, we examine the different types of courses and specialisations available to students and some popular career options after 10th.</p>
    <h2>What Are Your Career Options After 10th?</h2>
      <p>Most students progress naturally to 10+2 after 10th. They often choose subjects that can help them prepare for college and their career. Apart from doing their 10+2, students in their 10th class can also look at the following career options after 10th:
      </p>
      <li>Joining a diploma course</li>
      <li>Joining a polytechnic or ITI (Industrial Training Institute) for a vocational course</li>
        <li>Completing certificate courses</li>
        <li>Taking up an entry-level job</li>
         <li>Starting a business</li>
         <h2>What Courses Can I Study After 10th?</h2>
         <p>A student learns languages, basics of social sciences and mathematics till their 10th. By the time they complete their 10th, they may know their interests, strengths and weaknesses. Parents, teachers and guidance counsellors may also guide students about what course is good for them. You can pursue the following courses after Class 10:</p> 
         <h3>1. Diplomas</h3>
         <p>Diplomas are short-term courses conducted by educational institutions and polytechnic colleges. If you have studied maths and science in classes nine and 10, you can write an entrance exam and join a diploma course in a polytechnic college in your state. A diploma is a three-year course designed for students of 10th or 10+2.</p>
         Diploma in Architectural Assistantship
  <li>Diploma in Automobile Engineering</li>
  <li>Diploma in Chemical Engineering</li>
  <li>Diploma in Civil Engineering</li>
  <li>Diploma in Computer engineering</li>
  <li>Diploma in Computer Science and Engineering</li>
  <li>Diploma in Electrical Engineering</li>
  <li>Diploma in Electrical Engineering</li>
  <li>Diploma in Electronics and Telecommunication Engineering</li>
  <li>Diploma in Fashion Design</li>
  <li>Diploma in Food Technology</li>
  <li>Diploma in Garment Technology</li>
  <li>Diploma in Information Technology</li>
  <li>Diploma in Instrumentation Technology</li>
  <li>Diploma in Interior Design and Decoration</li>
  <li>Diploma in Leather Technology</li>
  <li>Diploma in Library and Information Sciences</li>
  <li>Diploma in Mechanical Engineering</li>
  <li>Diploma in Marine Engineering</li>
  <li>Diploma in Medical Laboratory Technology</li>
  <li>Diploma in Plastic Technology</li>
  <li>Diploma in Production and Industrial Engineering</li>
  <li>Diploma in Textile Design</li>
  <li>Diploma in Textile Processing</li>
  <li>Diploma in Textile Technology (Spinning)</li>

<h3>2. ITI courses</h3>
<p>State and central governments have set up Industrial Training Institutes (ITI) to impart training in various technical skills from different engineering and non-engineering sectors. Since these courses help students secure jobs or become self-employed, they are known as vocational courses. ITI courses are open to students of classes eight, 10 and 10+2. The duration of the course can be one or two years. ITI also offers apprenticeships to help students gain practical experience in their skills. Some popular ITI courses you can consider after 10th are:</p>

<li>Surveyor</li>
<li> Technician</li>
<li>Tool and Diemaker</li>
<li>Draughtsman (mechanical)</li>
<li>Diesel Mechanic</li>
<li>Draughtsman (civil)</li>
<li>Pump Operator</li>
<li>Motor Driving and Mechanic</li>
<li>Turner</li>
<li>Footwear Making</li>
<li>Information Technology and Electronics System Maintenance (ESM)</li>
<li>Machinist</li>
<li>Hair and Skin Care</li>
<li>Refrigeration Engineer</li>
<li>Fruit and Vegetable Processing</li>
<li>Mech. Instrument Engineer</li>
<li>Bleaching Dyeing and Calico Printing</li>
<li>Vessel Navigator</li>
<li>Weaving Technician</li>
<li>Fireman</li>
<li>Cabin or Room Attendant</li>
<li>Computer-Aided Embroidery and Designing</li>
<li>Corporate Housekeeping</li>
<li>Counselling</li>
<li>Crèche Management</li>
<li>Driver and Mechanic (Light Motor Vehicle)</li>
<li>Data Entry Operator</li>
<li>Domestic Housekeeping</li>
<li>Event Management Assistant</li>
<li>Front Office Assistant</li>
<li>Hospital Waste Management</li>
<li>Institution Housekeeping</li>
<li>Insurance Agent</li>
<li>Library and Information Science</li>
<li>Medical Transcription</li>
<li>Network Technician</li>
<li>Old Age Care Assistant</li>
<li>Para Legal Assistant or Munshi</li>
<li>Preparatory School Management (Assistant)</li>
<li>Spa Therapy</li>
<li>Tourist Guide</li>
<li>Baker and Confectioner</li>
<li>Web Designing and Computer Graphics</li>
<li>Cane Willow and Bamboo Worker</li>
<li>Catering and Hospitality Assistant</li>
<li>Computer Operator and Programming Assistant</li>
<li>Craftsman Food Production (General)</li>
<li>Craftsman Food Production (Vegetarian)</li>
<li>Cutting and Sewing</li>
<li>Desktop Publishing Operator</li>
<li>Dress Making</li>
<li>Surface Ornamentation Techniques (Embroidery)</li>
<li>Design and Technology</li>
<li>Finance Executive</li>
<li>Fire Technology</li>
<li>Floriculture and Landscaping</li>
<li>Basic Cosmetology</li>
<li>Health Safety and Environment</li>
<li>Health Sanitary Inspector</li>
<li>Horticulture</li>
<li>Hospital Housekeeping</li>
<li>Human Resource Executive</li>
<li>Leather Goods Maker</li>
<li>Litho Offset Machine Minder</li>
<li>Marketing Executive</li>
<li>Multimedia Animation and Special Effects</li>
<li>Office Assistant and Computer Operator</li>
<li>Photographer</li>
<li>Platemaker and Impostor</li>
<li>Preservation of Fruits and Vegetables</li>
<li>Process Cameraman</li>
<li>Secretarial Practice (English)</li>
<li>Stenographer and Secretarial Assistant (English)</li>
<li>Laboratory Equipment Technician</li>
<li>Architectural Draughtsmanship
<li>Resource Person</li>
<li>Drawing/Mathematics</li>
<li>Dairying</li>

<h3>3. Certificate courses</h3>
<p>Certificate courses are short-term courses that last two, three or six months. Certificate courses usually focus on one specific skill. For example, certificate courses that teach cooking, baking, photography, event management, beauty and makeup, MS-Office and stock trading are very popular. These courses help develop skills that can help students set up a business on their own. Some certificate courses equip students with skills like computer hardware maintenance, mobile repairing and graphic design that make them employable in big companies. Some useful certificate courses for students after 10th are:</p>

 <li>Food Processor Technician</li>
 <li>Cardiac Care Technician</li>
 <li>Chilling Plant Technician</li>
 <li>Home Health Aide Training</li>
 <li>Tourist Guide Training
 <li>Plumbing</li>
 <li>Carpentry</li>
 <li>Masonry</li>
 <li>Bar Bender</li>
 <li>Tractor Mechanic</li>
 <li>Car Mechanic</li>
 <li>Data Operator</li>
 <li>Greenhouse Fitter</li>
 <li>Set-top Box Technician</li>
 <li>Beauty and Makeup</li>
 <li>Bookkeeping</li>
 <li>Poultry Farming</li>
 <li>Related: Free Online Certificate Courses In India By The Government</li>

<h2>What Jobs Can I Do After 10th?</h2>
<p>Many career options are available for students who want to work after Class 10th. There are many government and private jobs that do not require a 10+2 or a college degree. You can look for jobs near your locality from newspapers and local employment agencies. If you are interested in a job after Class 10th, you may consider the following careers:
</p>
<h3>1. Government jobs</h3>
<p>For many central and state government job openings, Class 10 is the required educational criteria. Government jobs offer job security, steady pay, allowances and perks. Many government jobs do not require work experience. For some posts, there may be a minimum age requirement of 18. While some posts call for written exams, some jobs need you to clear an interview.
</p>
<p>Major employers in the government sector include defence, police, railways, India Post, public sector undertakings and infrastructure development initiatives. Some career options after 10th that are most sought after are:
</p>
<h2>Railways</h2>
<p>Indian Railways provide Group C and D jobs for people who have completed 10th and are between 18 and 33 years of age. Indian Railways is the world's largest commercial employer. They require lakhs of employees every year. Some career options after 10th in Indian Railways are:
</p>
<li>Fitter</li>
<li>Helper</li>
<li>Cabin man</li>
<li>Porter</li>
<li>Shunter</li>
<li>Switchman</li>
<li>Trackman</li>
<li>Welder</li>
<li>Constable</li>
<li>Apprentice</li>

<h3>Defence and paramilitary forces</h3>
<p>The Army, Navy, Air Force and seven paramilitary forces recruit candidates who have passed 10th for entry-level jobs with seventh pay commission salaries. ITI diplomas or apprenticeship certificates may be eligible criteria for some of these posts. If you are interested in serving as a soldier after your 10th, you can participate in the recruitment rallies for soldier (general duty) jobs. The Indian Army recruits candidates based on physical standards and other medical tests. Other career options after Class 10 in the defence are:
</p>
<li>Gardeners</li>
<li>Electricians</li>
<li>Cooks</li>
<li>Washermen</li>
<li>Engine fitters</li>
<li>Welders</li>
<li>Machinists</li>
<li>Watchmen</li>
<li>Peons</li>
<li>Messengers</li>
<li>Sweepers</li>
<li>Mechanics</li>
<li>ITI workers</li>
<li>Tradesmen</li>
<li>Constables</li>

<h3>Staff Selection Commission (SSC)</h3>
<p>Staff Selection Commission recruits 10th standard students once they clear an exam SSC CHSL (Combined Matriculation/Higher Secondary Level). SSC recruits them for various central government departments and ministries across India. Some career options after 10th Class in central government jobs are:
</p>
<li>Gardener</li>
<li>Peon</li>
<li>Watchman</li>
<li>Junior gestetner operator</li>
<li>Office attendant</li>
<li>Data entry operator</li>
<li>Field attendant</li>
<li>Canteen attendant</li>
<li>Receptionist</li>
<li>Telephone operator</li>
<li>Mason</li>
<li>Electrician</li>
<li>Driver</li>
<li>Work supervisor</li>
<li>Forest guard</li>
<li>Draughtsman</li>
<h3>Other government sector jobs</h3>
<p>Apart from these main sectors, there are many jobs and career options open in the banking sector and the many public sector undertakings of the government. Chief employers in PSUs are oil and gas, energy, power and electricity sectors that employ hundreds of candidates whose education qualification is 10th standard. Most government jobs also accept candidates who have completed their higher studies through distance education or from open universities. Such jobs are ideal for those who dropped out of regular school after Class 10th but studied through distance learning or open universities.
</p>

<h3>2. Private sector jobs</h3>
<p>From single-owner establishments to large conglomerates, the private sector needs employees with different skills sets and backgrounds. Since ITI and polytechnic colleges design courses for industry requirements, getting a job based on your qualification is easy in the private sector. There is scope for promotion and advancement in your career based on experience and skill.
</p>

<h3>3. Setting up your own business</h3>
<p>If you have completed a diploma or a certificate course related to a specific skill that helps you be independent, you can become an entrepreneur or a freelancer. If you have completed a diploma in cooking or baking, you can set up your restaurant or a bakery. If you have completed diplomas in automotive maintenance or digital marketing, you can set up your agency. Some candidates work for a few years as assistants to gain experience and then start these ventures on their own.
</p>


  
    </div>
  </div> 
 </div>


